@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-caption: var(--text-caption);
  --color-text-link: var(--text-link);
  --color-text-link-hover: var(--text-link-hover);
  --color-text-invert: var(--text-inverse);
  --color-text-success: var(--text-success);
  --color-text-warning: var(--text-warning);
  --color-text-danger: var(--text-danger);
  --color-text-inverse: var(--text-inverse);

  --color-surface-background: var(--surface-background);
  --color-surface-foreground-1: var(--surface-foreground-1);
  --color-surface-foreground-2: var(--surface-foreground-2);
  --color-surface-foreground-3: var(--surface-foreground-3);
  --color-surface-inverse: var(--surface-inverse);

  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-tertiary: var(--border-tertiary);
  --color-border-input: var(--border-input);

  --color-alert-success-surface: var(--alert-success-surface);
  --color-alert-warning-surface: var(--alert-warning-surface);
  --color-alert-danger-surface: var(--alert-danger-surface);

  --color-alert-info: var(--alert-info);
  --color-alert-sucess: var(--alert-sucess);
  --color-alert-warning: var(--alert-warning);

  --color-alert-danger: var(--alert-danger);
  --color-alert-danger-hover: var(--alert-danger-hover);
  --color-alert-danger-press: var(--alert-danger-press);

  --color-brand-discovery: var(--brand-violet-primary);
  --color-brand-culture: var(--brand-red-primary);
  --color-brand-community: var(--brand-yellow-primary);
  --color-brand-structure: var(--brand-slate-primary);

}

:root {
  color-scheme: light;

  --text-primary: var(--color-neutral-950);
  --text-secondary: var(--color-neutral-800);
  --text-tertiary: var(--color-neutral-600);
  --text-caption: var(--color-neutral-400);
  --text-link: var(--color-sky-600);
  --text-link-hover: var(--color-sky-700);
  --text-inverse: var(--color-slate-50);

  --text-success: var(--color-green-900);
  --text-warning: var(--color-amber-900);
  --text-danger: var(--color-red-900);

  --surface-background: var(--color-slate-50);
  --surface-foreground-1: var(--color-slate-100);
  --surface-foreground-2: var(--color-slate-200);
  --surface-foreground-3: var(--color-slate-300);
  --surface-inverse: var(--color-neutral-900);

  --border-primary: var(--color-neutral-200);
  --border-secondary: var(--color-neutral-300);
  --border-tertiary: var(--color-neutral-400);
  --border-input: var(--color-neutral-400);

  --brand-violet-primary: var(--color-purple-600);
  --brand-violet-hover: var(--color-violet-700);
  --brand-violet-press: var(--color-violet-800);
  --brand-violet-focus-ring: var(--color-violet-600);

  --brand-red-primary: var(--color-red-400);
  --brand-red-hover: var(--color-red-500);
  --brand-red-press: var(--color-red-600);
  --brand-red-focus-ring: var(--color-red-400);

  --brand-slate-primary: var(--color-slate-700);
  --brand-slate-hover: var(--color-slate-800);
  --brand-slate-press: var(--color-slate-900);
  --brand-slate-focus-ring: var(--color-slate-700);

  --brand-yellow-primary: var(--color-yellow-500);
  --brand-yellow-hover: var(--color-yellow-600);
  --brand-yellow-press: var(--color-yellow-700);
  --brand-yellow-focus-ring: var(--color-yellow-800);

  --alert-success-surface: var(--color-green-300);
  --alert-warning-surface: var(--color-amber-300);
  --alert-danger-surface: var(--color-red-300);

  --alert-info: var(--color-sky-500);
  --alert-sucess: var(--color-green-500);
  --alert-warning: var(--color-amber-500);

  --alert-danger: var(--color-red-500);
  --alert-danger-hover: var(--color-red-600);
  --alert-danger-press: var(--color-red-700);

  --brand-violet-hover: var(--color-purple-700);
  --brand-violet-press: var(--color-purple-800);
  --brand-violet-focus-ring: var(--color-purple-600);

  --brand-red-hover: var(--color-red-500);
  --brand-red-press: var(--color-red-600);
  --brand-red-focus-ring: var(--color-red-400);

  --brand-slate-hover: var(--color-slate-800);
  --brand-slate-press: var(--color-slate-900);
  --brand-slate-focus-ring: var(--color-slate-700);

  --brand-yellow-hover: var(--color-yellow-600);
  --brand-yellow-press: var(--color-yellow-700);
  --brand-yellow-focus-ring: var(--color-yellow-500);
}

.dark {
  color-scheme: dark;

  --text-primary: var(--color-neutral-50);
  --text-secondary: var(--color-slate-400);
  --text-tertiary: var(--color-slate-500);
  --text-caption: var(--color-slate-400);
  --text-link: var(--color-sky-500);
  --text-link-hover: var(--color-sky-600);
  --text-success: var(--color-green-800);
  --text-warning: var(--color-amber-800);
  --text-danger: var(--color-red-800);
  --text-inverse: var(--color-neutral-950);

  --surface-background: var(--color-slate-950);
  --surface-foreground-1: var(--color-slate-800);
  --surface-foreground-2: var(--color-slate-700);
  --surface-foreground-3: var(--color-slate-600);
  --surface-inverse: var(--color-neutral-50);

  --border-primary: var(--color-slate-700);
  --border-secondary: var(--color-slate-600);
  --border-tertiary: var(--color-slate-500);
  --border-input: var(--color-slate-400);

  --alert-success-surface: var(--color-green-900);
  --alert-warning-surface: var(--color-amber-900);
  --alert-danger-surface: var(--color-red-900);

  --alert-info: var(--color-sky-400);
  --alert-sucess: var(--color-green-400);
  --alert-warning: var(--color-amber-300);

  --alert-danger: var(--color-red-400);
  --alert-danger-hover: var(--color-red-500);
  --alert-danger-press: var(--color-red-700);

  --brand-violet-primary: var(--color-purple-300);
  --brand-violet-hover: var(--color-purple-400);
  --brand-violet-press: var(--color-purple-800);
  --brand-violet-focus-ring: var(--color-purple-500);

  --brand-red-primary: var(--color-red-300);
  --brand-red-hover: var(--color-red-400);
  --brand-red-press: var(--color-red-600);
  --brand-red-focus-ring: var(--color-red-300);

  --brand-slate-primary: var(--color-slate-400);
  --brand-slate-hover: var(--color-slate-500);
  --brand-slate-press: var(--color-slate-900);
  --brand-slate-focus-ring: var(--color-slate-600);

  --brand-yellow-primary: var(--color-yellow-200);
  --brand-yellow-hover: var(--color-yellow-300);
  --brand-yellow-press: var(--color-yellow-700);
  --brand-yellow-focus-ring: var(--color-yellow-400);
}